#center{
    margin: 50px auto;
    width: 1000px;
}

.errore {
    color: red;
}

.studente{
    margin: 25px auto;
    border-style: solid;
    border-color: darkslateblue;
    border-radius: 25px;
    width: 500px;
}

.studente label{
    margin: 10px 25px;
}

label{
    color: deepskyblue;
    font-size: 25px;

}